
#Adblock
127.0.0.1 cdn-lb.vungle.com
127.0.0.1 events.api.vungle.com
127.0.0.1 tpat.api.vungle.com
127.0.0.1 pubads.g.doubleclick.net
127.0.0.1 securepubads.g.doubleclick.net
127.0.0.1 tag.atom.gamedistribution.com
127.0.0.1 tag.gitberry.com
127.0.0.1 adservice.google.com
127.0.0.1 msgrt.gamedistribution.com
127.0.0.1 prebid.adnxs.com
127.0.0.1 img.gamedistribution.com
127.0.0.1 10-81.s.cdn15.com
127.0.0.1 deloplen.com
127.0.0.1 3x2.myfastcdn.com
127.0.0.1 native.propellerclick.com
127.0.0.1 my.rtmark.net
127.0.0.1 mk0shiritorifigo5fgj.kinstacdn.com
127.0.0.1 px.moatads.com
127.0.0.1 omarti.ru
127.0.0.1 mc.yandex.ru
127.0.0.1 composivel.pro
127.0.0.1 click.hooligapps.com
127.0.0.1 cdn15.acloudimages.com
127.0.0.1 special-offers.online
127.0.0.1 go.romedy.pro
127.0.0.1 viatepigan.com
127.0.0.1 tracking.notizie.it
127.0.0.1 go2linkfast.com
127.0.0.1 cdn.runative-syndicate.com
127.0.0.1 s-img.steepto.com
127.0.0.1 images.taboola.com
127.0.0.1 s-img.mgid.com
127.0.0.1 krison.xyz
127.0.0.1 composivel.pro
127.0.0.1 deloplen.com
0.0.0.0 anchorfree.net
0.0.0.0 rss2search.com
0.0.0.0 techbrowsing.com
0.0.0.0 box.anchorfree.net
0.0.0.0 www.mefeedia.com
0.0.0.0 www.anchorfree.net
0.0.0.0 www.mefeedia.com
0.0.0.0 anchorfree.us
0.0.0.0 a433.com
0.0.0.0 anchorfree.net
0.0.0.0 rpt.anchorfree.net
0.0.0.0 delivery.anchorfree.us/land.php
0.0.0.0 hsselite.com
0.0.0.0 www.hsselite.com
0.0.0.0 cdn15.acloudimages.com
0.0.0.0 a.adtng.com
0.0.0.0 notification.tubecup.net
0.0.0.0 pubads.g.doubleclick.net
0.0.0.0 securepubads.g.doubleclick.net
0.0.0.0 www.googletagservices.com
0.0.0.0 gads.pubmatic.com
0.0.0.0 ads.pubmatic.com
0.0.0.0 tpc.googlesyndication.com
0.0.0.0 googleads.g.doubleclick.net
0.0.0.0 video-fa.scdn.co
0.0.0.0 pagead2.googlesyndication.com
0.0.0.0 adeventtracker.spotify.com
0.0.0.0 safebrowsing.googleapis.com
127.0.0.1 secure.nch.com.au